* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
a {
  color: #00e;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.container {
  width: 700px;
  height: 450px;
}
.controls {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #F7F8F6;
}
.content {
  padding-right: 0px;
  padding-left: 0px;
}
.summary {
  height: auto;
}
.filters {
  margin-top: 10px;
}
.map {
  height: 450px;
}
.section-heading {
  padding: 15px 5px 10px;
  color: #7c5320;
  font-size: 15px !important;
  font-weight: normal !important;

}
.section-heading.list {
  background-color: #feba2b;
}
.summary-text {
  padding: 3px 5px;
}
/* Container */
.container {
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
}
.col-4 {
  width: 33.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
@media screen and (max-width: 699px) {
  .container {
    width: 100%;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col {
    width: 100%;
    left: auto;
    right: auto;
  }
}



.controls {
}
.content {
}
.map {
  height: 450px;
}
.clickable-text {
  cursor: pointer;
}
.clickable-text:hover {
  text-decoration: underline;
}

/* Summary and heading */
.summary > .explainer {
  margin: 5px;
}
.explainer .count-label {
  color: #7D5421;
  /* font-weight: bold; */
  /* font-style: italic; */
}

/* Party Detail div*/
.details {
  padding-right: 0px;
  padding-left: 0px;
}
.detail {
  min-height: 450px;
  width: 100%;
  z-index: 10;
  position: absolute;
  padding: 10px;
  background: inherit;
}
.party-name {
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
  color: #7D5319;
}
button.back {
  cursor: pointer;
  background-color: #F5F5F5;
  border: 1px solid #CACACA;
  color: #505050;
}

.choices-summary {
  /* background: #E6E6E6; */
}
.attribute {
  margin-top: 20px;
}
.attribute-title, .description-title {
  font-weight: bold;
  font-size: 11px;
  line-height: 120%;
  color: #868585;
}
.attribute-title {
  margin-bottom: 0px;
  margin-left: 4px;
  margin-top: 15px;
}
.attribute .choice-title {
  color: white;
  padding: 0px 5px;
}
.description-title {
}
.description-text {
  font-size: 12px;
  padding: 5px;
}


/* Filters */
.filters-list {
  padding: 0;
  list-style: none;
  margin-top: 15px;
  clear: both;
}

.filters-list > .filter-choice {
  padding: 1px 8px;
  margin: 5px 3px;
  cursor: pointer;
  background: #E4E4E4;
  font-size: 12px;
  line-height: 19px;
  border-left: 20px solid rgba(255, 168, 10, 0);
  color: #B1B1B1;
  border-radius: 2px;
}

.filters-list > .filter-choice:hover {
  background: #EFDEC1;
}

.filters-list > .filter-choice.included {
  border-left: 20px solid #FFA80A;
  color: inherit;
}

div.filter-title {
width: 87%;}

div.excluded-count {
  float: right;
  color: grey;
  font-size: 10px;
  width: 13%;
  line-height: 11px;
  padding-top: 3px;
  text-align: right;
}

.filter-controls {
  font-size: 10px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
  color: #969696;
}
.filter-controls > span {
  cursor: pointer;
  /* border: 1px black solid; */
  /* padding: 1px; */
  /* background: grey; */
}
.filter-controls > span:hover {
  color: #83C783;
}
.filter-controls > span.allNotExcluded:hover {
  color: #CC8080;
}


/*jVectormap customisation*/

.jvectormap-legend {
  background: rgba(0, 0, 0, 0.28);
  color: white;
  border-radius: 3px;
}
.jvectormap-legend-cnt-h .jvectormap-legend-tick {
    width: 80px;
}
.jvectormap-legend-tick-text {
  padding: 2px;
}
.jvectormap-zoomin, .jvectormap-zoomout {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.28);
}
.jvectormap-tip {
  background: rgba(0, 0, 0, 0.65);
  border: 0;
  border-radius: 2px;
}

/* Accordion */
.accordion {
  /* border: 1px solid lightgrey; */
  margin: 5px;
}
.accordion-section {
  /* padding: 3px; */
  margin-top: 8px;
}
.accordion-toggle {
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  padding: 3px;
  color: #FFFFFF;
  background-color: #C79C5F;
  border-radius: 2px;
  /* box-shadow: 0px 8px 0px -4px #CECECE; */
}
.accordion-toggle.visible {
  border-bottom: 4px #CCCCCC solid;
}
.accordion-content {display: none;padding: 5px;}
.accordion-content.default {display: block;}

/* Search */
.search {
  height: auto;
  width: 40%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.search > select {
  width: 100%;
}

.search > .reset-geoSearch {
  position: absolute;
  right: 0px;
  padding-left: 9px;
  top: 30px;
  height: 22px;
  padding-top: 0px;
  width: 69px;
  background: #F2F2F2;
  text-align: center;
  cursor: pointer;
  border: 1px #AAAAAA solid;
  border-radius: 4px;
  font-size: 12px;
  color: #BDB0B0;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.reset-geoSearch > .reset-x {
  color: #D6A3A3;
  margin-right: 4px;
  /* margin-top: -5px; */
  top: -1px;
  position: absolute;
  left: 4px;
}