/* Container */
.container {
}
.controls {
}
.content {
}
.map {
  height: 448px;
}

/* Detail div*/
.detail {
  min-height: 450px;
  width: 100%;
  z-index: 10;
  position: absolute;
  background: rgb(228, 228, 228);
  padding: 10px;
}
.party-name {
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 12px;
}
div.status {
  margin-bottom: 10px;
}
span.status-label {
  border: 1px #B0FFD6 solid;
  background-color: #79CC6A;
  padding: 0px 5px;
  color: white;
}
button.back {
  cursor: pointer;
  background-color: #F5F5F5;
  border: 1px solid #ADADAD;
}
.description-title {
  font-weight: bold;
  color: #8A8A8A;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}
.description-text {

}


/* Filters */
ul.filters-list {
  padding: 0;
  list-style: none;
  margin-top: 15px;
  clear: both;
}

ul.filters-list > li {
  padding: 1px 8px;
  margin: 3px 3px;
  cursor: pointer;
  background: #E4E4E4;
  font-size: 12px;
  line-height: 19px;
  border-left: 8px solid rgba(255, 168, 10, 0);
  color: #B1B1B1;
}

ul.filters-list > li:hover {
  background: #EFDEC1;
}

ul.filters-list > li.active {
  border-left: 8px solid #FFA80A;
  color: inherit;
}

span.active-count {
  float: right;
  color: grey;
  font-size: 11px;
}

.filter-controls {
  font-size: 10px;
  float: right;
}
.filter-controls > span {
  cursor: pointer;
}
.filter-controls > span:hover {
  color: #83C783;
}
.filter-controls > span.allOff:hover {
  color: #CC8080;
}


/*jVectormap customisation*/

.jvectormap-legend {
  background: rgba(0, 0, 0, 0.28);
  color: white;
  border-radius: 3px;
}
.jvectormap-legend-tick {
  width: 80px;
}
.jvectormap-zoomin, .jvectormap-zoomout {
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.28);
}
.jvectormap-tip {
  background: rgba(0, 0, 0, 0.65);
  border: 0;
  border-radius: 2px;
}

/* Accordion */
.accordion {
  border: 1px solid lightgrey;
  margin: 5px;
}
.accordion-section {
  /* padding: 3px; */
}
.accordion-toggle {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px #CCCCCC solid;
  padding: 5px;
  background-color: #DADADA;
}
.accordion-content {display: none;padding: 5px;}
.accordion-content.default {display: block;}

/* Search */
.search {
  height: auto;
  width: 40%;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.search > select {
  width: 100%;
}

.search > .reset-geoSearch {
  position: absolute;
  right: 10px;
  padding-left: 9px;
  top: 30px;
  height: 22px;
  padding-top: 0px;
  width: 69px;
  background: #F2F2F2;
  text-align: center;
  cursor: pointer;
  border: 1px #AAAAAA solid;
  border-radius: 4px;
  font-size: 12px;
  color: #BDB0B0;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.reset-geoSearch > .reset-x {
  color: #960909;
  margin-right: 4px;
  /* margin-top: -5px; */
  top: -1px;
  position: absolute;
  left: 4px;
}